/* Custom styles for index page */
body,
html {
  height: 100%;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.navbar-brand img {
  max-height: 50px;
  width: auto;
}
